<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.RentalMapper">
	
	<!--  지난달 베스트 리스트 -->
	<select id="selectLastMonthBestFilmList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
			f.title title, 
			COUNT(r.rental_id) count 
		FROM 
			rental r LEFT JOIN inventory iv ON r.inventory_id=iv.inventory_id JOIN film f ON iv.film_id=f.film_id 
		<where>
			YEAR(r.rental_date)=#{year} AND MONTH(r.rental_date)=#{month}
		</where> 
		GROUP BY 
			f.title
		ORDER BY
			count desc
		LIMIT 10 
	</select>
	
	<!-- 년도 별 렌탈 수 차트 -->
	<select id="selectCountRental" resultType="java.util.Map" parameterType="Integer">
		SELECT 
			MONTH(rental_date) month, 
			COUNT(rental_id) count 
		FROM rental 
		<where>
		 	YEAR(rental_date) = #{year}
		</where>
		GROUP BY 
			MONTH(rental_date)
	</select>
	
	<!-- film 대여시 중복 찾는 쿼리 -->
	<select id="selectOverlapInventoryId" parameterType="Integer" resultType="Integer">
		SELECT
			iv.inventory_id inventoryId
		FROM
			inventory iv LEFT JOIN rental r ON iv.inventory_id=r.inventory_id
		<where>
			iv.inventory_id=#{inventoryId} AND ISNULL(r.return_date) AND ISNULL(r.rental_date)=false
		</where>
		GROUP BY
			iv.inventory_id
	</select>
	
	<!-- fiim 대여시 rental테이블에 데이터 입력 쿼리 -->
	<insert id="insertRental" parameterType="java.util.Map">
		<selectKey keyProperty="rentalId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
			rental(
				rental_date,
				inventory_id,
				customer_id,
				staff_id
			)VALUES(
				NOW(),
				#{inventoryId},
				#{customerId},
				#{staffId}
			)
	</insert>
	
	<!-- film 대여시 payment table에 amount변경을 위한 rentalId 추출 쿼리 -->
	<select id="selectRentalId" resultType="Integer" parameterType="Integer">
		SELECT
			rental_id rentalId
		FROM
			rental
		<where>
			inventory_id=#{inventoryId} AND ISNULL(return_date)
		</where>
	</select>
	
	<!-- film 대여시 return_date 변경 쿼리 -->
	<update id="returnFilm" parameterType="Integer">	
		UPDATE
			rental
		SET
			return_date=NOW()
		<where>
			inventory_id=#{inventoryId} AND ISNULL(return_date)
		</where>
	</update>
</mapper>